{% extends 'base.html'%}
{% load static %}
{% block title %}Home{%endblock%}
{% block body %}
  <section class=''>
    {% for msg in messages %}
      <div class="alert alert-success mx-auto">{{msg}}</div>
    {% endfor %}
    <div class='row py-5 justify-content-center'>
      <div class="col-lg-6 col-md-8 col-12 ">
        <h3 class="text-light fs-3">Search results for {{search}}</h3>
        <hr class="text-light mb-4">
        {% if not users %}
            <div class="alert alert-info">No results found for this search</div>
        {% endif %}

        {% for user in users %}
          <div class="list-group-item list-group-item-action d-flex justify-content-between suggetions" aria-current="true">
            <div class="d-flex">
              <img class="profile-photo-sm" src="{{user.profile.avatar.url}}"/>
              <div class="h-100 d-flex justify-content-center flex-column px-1 fs-6">
                <a href="/profile/{{user.username}}" class="px-1 fw-bold">{{user.username}}</a>
                <p class="px-1">20k followers</p>
              </div>
            </div>
            <div class="d-flex justify-content-center flex-column">
              <a href="/follow?p={{user.username}}" class="btn btn-sm ">Follow</a>
            </div>
          </div>
        {%endfor%}     

      </div>

    </div>
  </section>

{% endblock %}
